body{
    background-color: rgb(247, 247, 247);
}

table.syncery-calendar{
    text-align: center;
    border-spacing: 0em;
    min-width: 18.25em;
}

table.syncery-calendar tbody tr{
    display: block;
    float: left;
    height: 2.5em;
    border-bottom: 0.125em solid rgb(247, 247, 247);
}

table.syncery-calendar tbody tr{
    clear: left;
}
table.syncery-calendar thead tr{
    display: block;
    float: left;
}


table.syncery-calendar thead tr th{
    width: 40px;
}

table.syncery-calendar thead th{
    color: grey;
    font-size: small;
}

tbody tr td{
    font-size: 16px;
    position: relative;
    padding: 0px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: white;
    border-right: 2px solid rgb(247, 247, 247);
}

tbody tr td:last-child{
    border-right: 0em;
}

/*Abreise Dreieck*/

td.arrival{
    position: relative;
    font-weight: bold;
    border-right: 2px solid rgb(255,102,102);
}

td.arrival:before {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-right: 38px solid rgb(255,102,102);
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
}

/* Anreise Dreieck*/
td.departure{
    position: relative;
    font-weight: bold;
}

td.departure:after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 40px solid transparent;
    border-left: 38px solid rgb(255,102,102);
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}

/*Anezeige des aktuellen Tages*/
td div.today{
    border-radius: 25px;
    background-color: black;
    height: 30px;
    width: 30px;
    color: white;
    font-weight: bold;
    z-index: 5;
    position: absolute;
    line-height: 30px;
    top: 5px;
    left: 5px;

}
/*Anzeige für belegten Tag*/

td.occupied{
    background-color: rgb(255,102,102);
    color: white;
    border-right: 2px solid rgb(255,102,102);
}



td.occupied:first-child:before{
    background-color: transparent;
}

/*vorheriger oder nächster Monat*/
td.other-mounth{
    background-color: rgb(251,251,251);
    color: grey;
}

/*ausgewählte Zelle*/
div.selected{
    height: 36px;
    width: 36px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
}

/*td.selected{
    height: 36px;
    width: 38px;
    border: 2px solid black;
    border-right: 2px solid #000000;
}

td.selected.departure:after{
    border-bottom: 36px solid transparent;
    border-left: 34px solid rgb(255,102,102);
}

td.selected.arrival:before{
    border-top: 36px solid transparent;
    border-right: 34px solid rgb(255,102,102);
}

td.selected:last-child{
    height: 36px;
    width: 36px;
    border-right: 2px solid #000000;
}

td.selected div.today{
    top: 3px;
    left: 3px;
}*/
