<ion-list class="booking-details">
    <ion-item class="item detail">
        <h2>Haus Sonne</h2>
        <p>01.07.2016 - 16.07.2016 (14 Tage)</p>
    </ion-item>
    <ion-item class="item person">
        <div class="row">
            <div class="col"><i class="icon ion-person"></i>2</div>
            <div class="col"><i class="icon ion-person-stalker"></i>1</div>
            <div class="col"><i class="icon ion-ios-paw"></i>0</div>
        </div>
    </ion-item>
    <ion-item class="item status">
        <div class="row">
            <div class="col">
                <i class="icon ion-loop"></i>
                <h3>CHANNEL</h3>
                <p>Fewo Direkt</p>
            </div>
            <div class="col">
                <i class="icon ion-calendar"></i>
                <h3>STATUS</h3>
                <p><span class="red">reserviert</span></p>
            </div>
        </div>
    </ion-item>
    <ion-item class="item money">
        <h3>1.265,65 €</h3>
    </ion-item>
    <ion-item class="item money">
        <div class="row">
            <div class="col">
                <p><span class="green">100 € </span>/ 25.05</p>
            </div>
            <div class="col">
                <p><span class="red">1.165,65 € </span>/ 28.06</p>
            </div>
        </div>
    </ion-item>
</ion-list>