<ion-view view-title="Dashboard">
    <ion-content ion-sticky>
        <div class="list">

                <ion-item class="item item-divider">{{ 'testphase_time' | translate:translationData }}</ion-item>

                <syncery-contract-days ng-click="extendContract()"
                        remaining="contract_remaining" total="contract_total"    >
                </syncery-contract-days>

            <ion-item class="item item-divider">
                {{"accommodation_capacity" | translate}}
            </ion-item>
            <ion-item>
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-legend="true" chart-series="series"
                        chart-click="onClick" >
                </canvas>
            </ion-item>
            <ion-item class="item item-divider">
                <b>{{"messages" | translate}}</b>
            </ion-item>
            <ion-item class="item" ng-click="unpaidBookings()">
                {{"unpaid_bookings" | translate:translationData}}
            </ion-item>
            <ion-item class="item" ng-click="unfinishedBookings()">
                {{"unfinished_bookings" | translate:translationData}}
            </ion-item>
            <ion-item class="item item-divider">
                <b>{{"timeline" | translate}}</b>
            </ion-item>
            <ion-item class="timeline">
                <div ng-repeat="event in timeline" class="row">
                    <div class="col symbols">
                        <div class="line" ng-if="!($index == 0)"></div>
                        <div class="no-line" ng-if="$index == 0"></div>
                        <div ng-switch="event.type">
                            <i ng-switch-when="booking" class="icon ion-checkmark-circled"></i>
                            <i ng-switch-when="cancel" class="icon ion-close-circled"></i>
                            <i ng-switch-when="arrival" class="icon ion-ios-download"></i>
                            <i ng-switch-when="departure" class="icon ion-ios-upload"></i>
                            <div ng-switch-default></div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="col col-75">
                        <span class="date">{{event.date}}</span>
                        <h3>{{event.type}}</h3>
                        <p>Buchung vom {{event.booking_date}}</p>
                        <p>{{event.name}}</p>
                        <p>{{event.accommodation}}</p>
                        <p class="portal">{{event.portal}}</p>
                    </div>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>