<ion-view view-title="{{'search' | translate}}" hide-nav-bar="hide_navbar">
    <ion-content animation="slide-left-right">
        <div id="search-box" ng-class="search_class"  class="item-input-inset" ng-show="data.showSearch">
            <div class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="{{'search' | translate}}" ng-model="data.searchQuery" ng-click="search()">
            </div>
            <button class="button button-clear" ng-click="cancel()">
                {{"cancel" | translate}}
            </button>
        </div>

    </ion-content>
</ion-view>