<ion-view view-title="{{'invite_user' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <div class="item item-divider divider-input"></div>
            <ion-item class="item item-avatar-left">
                <img ng-if="!customer.avatar" src="img/avatar.jpg">
                <h2>test</h2>
            </ion-item>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>