<ion-view view-title="{{'account_data' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-item class="item item-icon-left"
                  href="#">
            <i class="icon ion-document"></i> <h4>Rechnung von Oktober 2015 als PDF</h4>
        </ion-item>
        <ion-item class="item item-icon-left"
                  href="#">
            <i class="icon ion-document"></i> <h4>Rechnung von September 2015</h4>
        </ion-item>
    </ion-content>
</ion-view>