<ion-view view-title="{{'change_password' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
        <button ng-click="save()"
                class="button button-icon icon ion-android-done">
        </button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div class="item item-divider divider-input"></div>
        <label class="item item-input">
            <span class="input-label">{{'old_pw' | translate}}</span>
            <input type="password">
        </label>
        <div class="item item-divider divider-input"></div>
        <label class="item item-input">
            <span class="input-label">{{'new_pw' | translate}}</span>
            <input type="password">
        </label>
        <label class="item item-input">
            <span class="input-label">{{'pw_repeat' | translate}}</span>
            <input type="password">
        </label>
    </ion-content>
</ion-view>