<ion-view view-title="{{'agreement' | translate}}">
    <ion-content class="has-tabs" delegate-handle="agreement">

            <ion-item class="item item-divider">
                {{ 'testphase_time' | translate:translationData }}
            </ion-item>

            <syncery-contract-days
                    remaining="contract_remaining" total="contract_total">
            </syncery-contract-days>
        <ion-item class="item item-divider">{{"change_package" | translate}}</ion-item>

        <syncery-extend-contract number="number" payment="payment" data-method="switchContract">
        </syncery-extend-contract>
    </ion-content>
    <div class="bar bar-footer save-button">
        <button class="button button-full mark-cyan" ng-click="save()">{{'save' | translate}}</button>
    </div>
</ion-view>