<ion-view view-title="{{portal.name}}">
    <ion-content has-footer="true" delegate-handle="addPortal">
        <div class="list">
            <div class="item item-divider divider-input">{{"portal_data" | translate}}</div>
            <label class="item item-input">
                <span class="input-label">{{'E-Mail' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}" ng-model="input.mail">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'password' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}" ng-model="input.password">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'key' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}" ng-model="input.key">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'Sync-ID' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}" ng-model="input.sync_id">
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="save()">{{'save' | translate}}</button>
    </ion-content>
    <!--<ion-footer-bar>
        <div class="validation-error">{{'validation_error' | translate}}</div>
    </ion-footer-bar>-->
</ion-view>
