<div>
    <ion-slide-box id="slidebox" active-slide="myActiveSlide" on-slide-changed="slideHasChanged($index)" show-pager="false"
               does-continue="true">
    <ion-slide>
        <div class="row">
            <div class="col" ng-if="hideCal2" ng-class="col">
                <syncery-calendar data-method="clickCalendar" month="monthnumber-1" year="year"
                                  booking_id="booking_id" beginning="beginning"></syncery-calendar>
            </div>
            <div class="col" ng-class="col">
                <syncery-calendar data-method="clickCalendar" month="monthnumber" year="year"
                                  booking_id="booking_id" beginning="beginning"></syncery-calendar>
            </div>
            <div class="col" ng-if="hideCal1" ng-class="col">
                <syncery-calendar data-method="clickCalendar" month="monthnumber+1" year="year"
                                  booking_id="booking_id" beginning="beginning"></syncery-calendar>
            </div>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="row">
            <div class="col" ng-if="hideCal2" ng-class="col">
                <syncery-calendar data-method="clickCalendar" month="monthnumber1-1" year="year1"
                                  booking_id="booking_id" beginning="beginning"></syncery-calendar>
            </div>
            <div class="col" ng-class="col">
                <syncery-calendar data-method="clickCalendar" month="monthnumber1" year="year1"
                                  booking_id="booking_id" beginning="beginning"></syncery-calendar>
            </div>
            <div class="col" ng-if="hideCal1" ng-class="col">
                <syncery-calendar data-method="clickCalendar" month="monthnumber1+1" year="year1"
                                  booking_id="booking_id" beginning="beginning"></syncery-calendar>
            </div>
        </div>
    </ion-slide>
    <ion-slide>
        <ion-slide>
            <div class="row">
                <div class="col" ng-if="hideCal2" ng-class="col">
                    <syncery-calendar data-method="clickCalendar" month="monthnumber2-1" year="year2"
                                      booking_id="booking_id" beginning="beginning"></syncery-calendar>
                </div>
                <div class="col" ng-class="col">
                    <syncery-calendar data-method="clickCalendar" month="monthnumber2" year="year2"
                                      booking_id="booking_id" beginning="beginning"></syncery-calendar>
                </div>
                <div class="col" ng-if="hideCal1" ng-class="col">
                    <syncery-calendar data-method="clickCalendar" month="monthnumber2+1" year="year2"
                                      booking_id="booking_id" beginning="beginning"></syncery-calendar>
                </div>
            </div>
        </ion-slide>
    </ion-slide>
</ion-slide-box>
    </div>