<div class="syncery-input {{form1.input.$valid}}" ng-class="class">
    <form name="form1" ng-class="class_form">
        <!--<input ng-hide="input_hide" ng-class="class" type="{{type}}" class="{{form1.input.$valid}}" name="input" placeholder="{{title}}"
               ng-pattern="pattern" ng-model="input">
        <input ng-hide="tel_hide" ng-class="class" type="text" class="{{form1.tel.$valid}}" name="tel" placeholder="{{title}}"
               ng-pattern="pattern" ng-model="input">-->
        <input ng-hide="input_hide" ng-class="class" type="{{typ}}" class="{{form1.input.$valid}}" name="input"
               maxlength="{{maxlenght}}" ng-pattern="pattern" ng-model="input" ng-change="change()"
               placeholder="{{title}}" max="{{max}}">
        <i ng-hide="money_hide" class="icon ion-social-euro {{form1.money.$valid}}"></i>
        <textarea ng-hide="textarea_hide" maxlength="300"
                placeholder="{{title}}">{{input}}</textarea>
    </form>

    <style>
        div.syncery-input form {
            height: 100%;
        }

        .syncery-input {
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            color: black;
            height: 40px;
            line-height: 10px;
            border: 0px;
            background-color: rgb(247, 247, 247);
            position: relative;
            padding-left: 10px;
            border-bottom: solid 2px black;
        }

        div.syncery-input input {
            font-size: 100%;
            width: 90%;
            height: 100%;
            background-color: transparent;
            line-height: 100%;
        }

        div.syncery-input.textarea {
            height: 200px;
        }
        div.syncery-input textarea {
            height: 200px;
            background-color: transparent;
            width: 100%;
            padding: 10px;
            padding-left: 0px;
        }

        div.syncery-input i.icon.ion-social-euro {
            font-size: 100%;
        }

        div.syncery-input input.false {
            color: rgb(153, 0, 51);
            font-weight: bold;
        }

        .syncery-input.false {
            border-bottom: 4px solid rgb(153, 0, 51);
        }

        div.syncery-input i.icon.ion-social-euro.false {
            color: rgb(153, 0, 51);
        }

        /*

        div.syncery-datepicker ion-item.item-icon-right.date{
            background-color: rgb(247, 247, 247);
            border-bottom: 2px black solid;
            line-height: 80%;
            font-size: 100%;
        }
        div.syncery-datepicker ion-item.item-icon-right.date i.icon.ion-calendar{
            color: rgb(91, 188, 220);
        }*/
    </style>
</div>