<div class="toggle">
    <div id="first" ng-class="classFirst" ng-click="select('1')">{{attributes[0]}}</div>
    <div id="secound" ng-class="classSecound" ng-click="select('2')">{{attributes[1]}}</div>
    <style>
        div.toggle {
            background-color: rgb(56, 68, 94);
            color: white;
            width: 100%;
            border-radius: 5px;
        }

        div#first {
            font-size: 15px;
            position: relative;
            float: left;
            display: block;
            width: 45%;
            margin: 1%;
            padding: 5%;
            border-radius: 5px;
            border: 0px;
            text-align: center;
        }

        div#secound {
            font-size: 15px;
            float: right;
            position: relative;
            width: 45%;
            margin: 1%;
            padding: 5%;
            border: 0px;
            border-radius: 5px;
            text-align: center;
        }

        div.selected {
            background-color: rgb(3, 148, 198);
        }
    </style>
</div>