/* Empty. Add your own CSS if you like */
body{
    background-color: rgb(247, 247, 247);
}

.item-complex .item-content, .item-radio .item-content {
    background-color: rgb(56,68,94);
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.item{
    background-color: rgb(56,68,94);
    color: white;
}