/* General */
ion-content{
    background-color: rgb(247, 247, 247);
}

ion-header-bar.bar.syncery-header{
    background-color: rgb(56,68,94);
    border-bottom: 2px solid red;
}

ion-header-bar.bar.syncery-header div.title{
    color: white;
}

ion-header-bar.bar.syncery-header button.button{
    color: white;
}

ion-list div.list{
    padding-top: 0px;
}

input{
    border-bottom: 2px solid black;
}

/* Settings */

ion-item.settings {
    text-align: center;
}

ion-item.settings:first-child {
    margin-top: 15%;
}


/*Menu*/
img.logo-menu{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50%;
    margin-top: 3%;
}

ion-item.item.side-menu a{
    background-color: rgb(56,68,94);
    color: white;
}

ion-content.side-menu{
    background-color: rgb(56,68,94);
}

ion-header-bar.bar.side-menu{
    background-color: rgb(56,68,94);
    border-bottom: 2px solid red;
}

ion-list.list{
    padding-top: 0px;
}

/*Login*/
img.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*  */
button.button.button-last {
    width: 96%;
    margin: 2%;
}

button.button.button-last.button-sign-out{
    margin-top: 100%;
}

button.button.button-decide2 {
    width: 47%;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 2%;
    float: right;
}

button.button.button-decide1 {
    width: 47%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 1%;
    float: left;
}

/* Boooking Overview */
.col.two-item-border:first-child{
    border-right: 1px solid lightgray;
}

.col.two-item-border{
    border-top: 1px solid lightgray;
 }

/* Customer Overview */
.customer-list{
    text-align: center;
}

.item-avatar a h2{
    font-weight: bold;
}

.item-avatar a img{
    margin-top: 3%;
}

.item-avatar a div.row div.col.col-50:first-child{
    font-size: small;
}

.item-avatar a div.row div.col.col-50:last-child{
    font-size: small;
}

/* Customer Details*/

img.customer-avatar{
    padding: 5%;
    padding-bottom: 0px;
}