/* Empty. Add your own CSS if you like */
body{
    background-color: rgb(247, 247, 247);
}

.item-complex .item-content, .item-radio .item-content {
    background-color: rgb(56,86,94);
    color: white;
}

.item{
    background-color: rgb(56,86,94);
    color: white;
}