<ion-header-bar class="bar-dark bar-subheader">
    <h3 style="text-align: center; color:white; line-height: 28px; font-size: 16px;">{{accommodation.name}}</h3>
</ion-header-bar>
<ion-view view-title="{{'accommodation' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-click="edit(accommodation.id)"
                    class="button button-icon icon ion-edit">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content delegate-handle="accommodationDetails">
        <div class="list card">
            <div class="item item-divider">
                {{"description" | translate}}
            </div>
            <ion-item ng-class="descriptionClass" ng-click="showMoreDescription()">
                {{accommodation.description}}
            </ion-item>
        </div>

        <ion-slide-box>
            <ion-slide ng-repeat="image in accommodation.images">
                <img ng-src="{{image.url}}" style="width:300px;height:300px;margin:auto;display:block">
            </ion-slide>
        </ion-slide-box>

        <div class="list card">
            <div class="item item-divider item-icon-right" ng-click="showMore('MasterData')"
                 id="MasterData">
                {{"master_data" | translate}}
                <i ng-class="icon['MasterData']"></i>
            </div>
            <ion-item ng-hide="hide['MasterData']">
                <div class="list">
                    <label class="item item item-stacked-label">
                        <h2>{{"title" | translate}}</h2>

                        <p>Frau Dr.</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>{{"first_name" | translate}}</h2>

                        <p>Marcus</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>{{"name" | translate}}</h2>

                        <p>Schmermer</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>{{"address" | translate}}</h2>

                        <p>Erieseering 22</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>PLZ</h2>

                        <p>10319</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>{{"city" | translate}}</h2>

                        <p>Berlin</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>{{"country" | translate}}</h2>

                        <p>Deutschland</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>{{"telephone" | translate}}</h2>

                        <p>030 94399851</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>{{"mobile" | translate}}</h2>

                        <p>0151 63 42 68 41</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <h2>Email</h2>

                        <p>ma.schmermer@gmail.com</p>
                    </label>
                </div>
            </ion-item>
        </div>

        <div class="list card">
            <div id="Mapping" class="item item-divider item-icon-right" ng-click="showMore('Mapping')">
                Mapping
                <i ng-class="icon['Mapping']"></i>
            </div>
                <ion-list can-swipe="true" ng-hide="hide['Mapping']">
                    <ion-item>
                        Booking.com
                        <p>ID: FBKDHFJB637812</p>
                        <ion-option-button class="button button-dark ion-ios7-heart button-options">
                            {{"edit" | translate}}
                        </ion-option-button>
                        <ion-option-button class="button button-assertive ion-ios7-heart button-options">
                            {{"delete" | translate}}
                        </ion-option-button>
                    </ion-item>
                </ion-list>


    </ion-content>
</ion-view>