<ion-view  view-title="{{'add_accommodation' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-divider">Unterkunftsdaten eintragen</div>
            <label class="item item-text-wrap item-input item-stacked-label">
                <span class="input-label">Beschreibung</span>
                <input type="text" placeholder="Die Unterkunft hat 3 Zimmer und liegt in der Nähe des Sees.">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Anrede
                </div>
                <select>
                    <option>Herr</option>
                    <option selected>Frau</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Titel</span>
                <input type="text" placeholder="Dr.">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Vorname</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nachname</span>
                <input type="text" placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Adresse</span>
                <input type="text" placeholder="Musterstraße 8">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">PLZ</span>
                <input type="text" placeholder="10319">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Stadt</span>
                <input type="text" placeholder="Berlin">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Land</span>
                <input type="text" placeholder="Deutschland">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Telefon</span>
                <input type="text" placeholder="030 944 12  345">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobil Telefon</span>
                <input type="text" placeholder="0171 123 456 78">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
            </label>
        </div>
        <button class="button button-last button-positive" ng-click="upload()">
            Bilder hinzufügen
        </button>
        <button class="button button-last button-positive">
            Unterkunft speichern
        </button>
    </ion-content>
</ion-view>