<ion-view  view-title="{{'add_accommodation' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-divider">{{"enter_accommodation_data" | translate}}</div>
            <label class="item item-text-wrap item-input item-floating-label">
                <span class="input-label"><b>{{'description' | translate}}</b></span>
                <input type="text" placeholder="{{'description' | translate}}">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <b>{{'gender' | translate}}</b>
                </div>
                <select>
                    <option>Herr</option>
                    <option selected>Frau</option>
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'title' | translate}}</b></span>
                <input type="text" placeholder="{{'title' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'first_name' | translate}}</b></span>
                <input type="text" placeholder="{{'first_name' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'name' | translate}}</b></span>
                <input type="text" placeholder="{{'name' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'address' | translate}}</b></span>
                <input type="text" placeholder="{{'address' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>PLZ</b></span>
                <input type="text" placeholder="PLZ">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'city' | translate}}</b></span>
                <input type="text" placeholder="{{'city' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'country' | translate}}</b></span>
                <input type="text" placeholder="{{'country' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'telephone' | translate}}</b></span>
                <input type="text" placeholder="{{'telephone' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>{{'mobile' | translate}}</b></span>
                <input type="text" placeholder="{{'mobile' | translate}}">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>E-Mail</b></span>
                <input type="text" placeholder="E-Mail">
            </label>
        </div>
        <button class="button button-last button-positive" ng-click="ShowPictures()">
            {{"add_picture" | translate}}
        </button>
        <button class="button button-last button-positive">
            {{"save_accommodation" | translate}}
        </button>


    </ion-content>
</ion-view>