<ion-view view-title="Login">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="login">
        <label class="item item-input">
            <input type="email" placeholder="Email">
        </label>

        <label class="item item-input">
            <input type="email" placeholder=" Repeat Email">
        </label>

        <button ng-click="send()"
                class="button button-login mark-cyan button-icon-right">SEND
            <i class="icon ion-ios-arrow-forward"></i>
        </button>

    </ion-content>
</ion-view>