<ion-view view-title="Login" can-swipe-back="false" drag-content="false" hide-nav-bar="true">
    <ion-content class="login">


    <!--<img src="img/syncery-logo-white.png" class="logo">-->

        <h2 class="login h1">LOGIN</h2>

        <label class="item item-input">
            <input type="email" placeholder="Email">
        </label>

        <label class="item item-input">
            <input type="password" placeholder="{{'password' | translate}}">
        </label>

        <button ng-click="dologin()"
                class="button button-login mark-cyan">Login
        </button>

        <a href="#/app/login/forgot">{{"forgot_password" | translate}}</a>

        <h2 class="login h2">Login mit:</h2>

        <button class="button button-outline button-assertive icon-left ion-social-google">
            Google+
        </button>
        <button class="button button-outline button-positive icon-left ion-social-facebook">
            Facebook
        </button>
    </ion-content>
</ion-view>