<!--<ion-header-bar class="bar-dark bar-subheader">
    <h3>{{customer.first_name}}
        {{customer.name}}</h3>
</ion-header-bar>-->
<ion-view view-title="{{'customer' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-tabs" delegate-handle="customerDetails">
        <div class="list">
            <div class="item item-divider">{{customer.first_name}} {{customer.name}}</div>
            <ion-item class="item item-avatar customer-list">
                <img width="100%" class="customer-avatar" ng-if="customer.avatar" ng-src="img/{{customer.avatar}}">
                <img width="100%" class="customer-avatar" ng-if="!customer.avatar" ng-src="img/avatar.jpg">
                <p>Erieseering 22</p>
                <p>10319 Berlin</p>
                <p>Deutschland</p>
            </ion-item>
            <div class="item item-divider item-icon-right" ng-click="showMore('contact')"
                 id="contact">
                {{"contact" | translate}}
                <i ng-class="icon['contact']"></i>
            </div>
            <ion-list ng-hide="hide['contact']">
                <ion-item class="item-icon-left" href="mailto:ma.schmermer@googlemail.com">
                    <i class="icon ion-ios-email-outline"></i>
                    <h2>E-Mail</h2>

                    ma.schmermer@googlemail.com
                </ion-item>
                <ion-item class="item-icon-left" href="tel:030 94399851">
                    <i class="icon ion-ios-telephone-outline"></i>
                    <h2>{{'telephone' | translate}}</h2>

                    030 94399851
                </ion-item>
                <ion-item class="item-icon-left" href="tel:0151 63 42 68 41">
                    <i class="icon ion-ios-telephone-outline"></i>
                    <h2>{{'mobile' | translate}}</h2>

                    0151 63 42 68 41
                </ion-item>
            </ion-list>
            <div class="item item-divider item-icon-right" ng-click="showMore('bookings')"
                 id="bookings">
                {{"bookings" | translate}}
                <i ng-class="icon['bookings']"></i>
            </div>
            <ion-list ng-hide="hide['bookings']">
                <label class="item item-input">
                    <span class="input-label">{{'bookings' | translate}}</span>
                    <p>5</p>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'open_bill' | translate}}</span>
                    <p ng-if="customer.open_bill>0" class="item-text-wrap decide green">{{customer.open_bill | number: 2}} €</p>
                    <p ng-if="customer.open_bill<0" class="item-text-wrap decide red">{{customer.open_bill | number: 2}} €</p>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'profit' | translate}}</span>
                    <p ng-if="customer.open_bill>0" class="item-text-wrap decide green">{{customer.profit | number: 2}} €</p>
                    <p ng-if="customer.open_bill<0" class="item-text-wrap decide red">{{customer.profit | number: 2}} €</p>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'last_booking' | translate}}</span>
                    <p>{{customer.last_booking}}</p>
                </label>
            </ion-list>
        </div>
    </ion-content>
    <div class="bar bar-footer save-button">
        <button class="button button-full mark-cyan" ng-click="edit(customer.id)">{{'edit' | translate}}</button>
    </div>
</ion-view>