<ion-view view-title="{{'bookings' | translate}}">
  <ion-nav-bar class="bar syncery-header">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content delegate-handle="customer_bookings">
    <div id="search-box" class="item item-input-inset" ng-show="data.showSearch">
      <div class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="{{'search' | translate}}" ng-model="data.searchQuery">
        <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
      </div>
      <button class="button button-clear" ng-click="cancel()">
        {{"cancel" | translate}}
      </button>
    </div>

    <ion-list id="customer_bookings_list" can-swipe="listCanSwipe">
      <ion-item class="item item-thumbnail-left" ng-repeat="booking in bookings | filter: data.searchQuery"
                href="#/app/booking/details{{booking.id}}">
        <img ng-if="booking.thumbnail" ng-src="{{booking.thumbnail}}">
        <img ng-if="!booking.thumbnail" ng-src="img/nohouse.png">
        <h2>{{booking.name}}</h2>
        <p>{{"from" | translate}}: {{booking.from}}</p>
        <p>{{"to" | translate}}: {{booking.to}}</p>
        <ion-option-button class="button button-dark ion-ios7-compose-outline button-options"
                           ng-click="edit(accommodation.id)">
          {{"edit" | translate}}
        </ion-option-button>
        <ion-option-button class="button button-assertive ion-ios7-heart button-options"
                           ng-click="delete(accommodation.id)">
          {{"delete" | translate}}
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
