<ion-view view-title="{{'bookings' | translate}}">
    <ion-content delegate-handle="bookings" style="background-color: rgb(247,247,247)">
        <div class="row responsive-sm">
            <div class="col col-50">
                <syncery-dropdown name="'accommodation'"
                                  attribute="accommodations[accommodations_actual]"
                                  attributes="accommodations">

                </syncery-dropdown>
            </div>


            <div class="col col-50">
                <syncery-dropdown
                        data-method="selectMonth"
                        name="'Monat'"
                        attribute="date_actual"
                        attributes="month2">

                </syncery-dropdown>
            </div>
        </div>


        <div>
            <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideHasChanged($index)" show-pager="false"
                           does-continue="true">
                <ion-slide>
                    <syncery-calendar data-method="clickCalendar" month="monthnumber" year="year"
                                      booking_id="booking_id"></syncery-calendar>
                </ion-slide>
                <ion-slide>
                    <syncery-calendar data-method="clickCalendar" month="monthnumber1" year="year1"
                                      booking_id="booking_id"></syncery-calendar>
                </ion-slide>
                <ion-slide>
                    <syncery-calendar data-method="clickCalendar" month="monthnumber2" year="year2"
                                      booking_id="booking_id"></syncery-calendar>
                </ion-slide>
            </ion-slide-box>
        </div>

        <div id="BookingView" ng-hide="bookingView" class="list card">

            <ion-item class="item item-icon-right item-divider">
                {{"booking" | translate}}
                <i class="icon ion-close" ng-click="close()"></i>
            </ion-item>

            <div class="row">
                <div class="col">
                    <label ng-click="showMore('accommodation')" ng-class="hide.accommodation.class">
                        <h2>{{"accommodation" | translate}}</h2>

                        <p>Test Haus dasdz agsuifjsdkhf ijehwifhwejkrjfkhreuigfreghergker gre </p>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col two-item-border col-50">
                    <label ng-click="showMore('customer')"  ng-class="hide.customer.class">
                        <h2>{{"customer" | translate}}</h2>

                        <p>Test Kunde asdsad sa das das das fds fedg fh twh whtr tze j etz</p>
                    </label>
                </div>
                <div class="col two-item-border col-50">
                    <label ng-click="showMore('date')"  ng-class="hide.date.class">
                        <h2>{{"date" | translate}}</h2>

                        <p>01.12.15 - 30.01.15</p>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col two-item-border col-50">
                    <label class="item item item-stacked-label">
                        <h2>{{"payment" | translate}}</h2>

                        <p style="color: #fd971f;">unbezahlt</p>
                    </label>
                </div>
                <div class="col two-item-border col-50">
                    <label class="item item item-stacked-label">
                        <h2>Status:</h2>

                        <p style="color: green;">reserviert</p>
                    </label>
                </div>
            </div>

            <button class="button button-last button-positive" ng-click="showBooking()">
                {{"show_booking" | translate}}
            </button>

            <button class="button button-last button-positive" ng-click="changeBooking()">
                {{"change_booking" | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>
