<ion-view view-title="Buchungen">
    <ion-content style="background-color: rgb(247,247,247)">

        <div my-customer></div>

        <div class="row responsive-sm">
            <div class="col col-50">
                <syncery-dropdown name="'Monat'"
                                  attribute="month[monthnumber]"
                                  attributes="month2">

                </syncery-dropdown>
            </div>


            <div class="col col-50">
                <syncery-dropdown name="'Monat2'"
                                  attribute="month[monthnumber]"
                                  attributes="month2">

                </syncery-dropdown>
            </div>
        </div>
        <div class="row responsive-sm">
            <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChanged(index)" show-pager="false"
                           does-continue="true">
                <ion-slide>
                    <syncery-calendar month="monthnumber" year="year"></syncery-calendar>
                </ion-slide>
                <ion-slide>
                    <syncery-calendar month="monthnumber1" year="year1"></syncery-calendar>
                </ion-slide>
                <ion-slide>
                    <syncery-calendar month="monthnumber2" year="year2"></syncery-calendar>
                </ion-slide>
            </ion-slide-box>
        </div>

        <div class="row responsive-sm">
            <div class="col col-33">
                <div class="syncery-input-search">
                    <input class="syncery-input" id="search" placeholder="Suche" ng-model="input_suche">
                    </input>
                    <div class="syncery-input-line"></div>
                    <div class="syncery-option" ng-repeat="search in searching" ng-click="toggle2('{{search}}')">
                        {{search}}
                    </div>
                </div>
            </div>
            <div class="col col-33">
                <button class="button  button-flat button-medium button-positive waves-effect waves-button waves-light">
                    BUCHUNG VERWERFEN
                </button>
            </div>
            <div class="col col-33">
                <button class="button button-flat button-medium button-calm waves-effect waves-button waves-light">
                    BUCHUNG SICHERN
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
