<ion-view view-title="Buchungen">
    <ion-content style="background-color: rgb(247,247,247)">

        <div my-customer></div>

        <div class="row responsive-sm">
            <div class="col col-50">
                <div class="syncery-input" id="mounth">
                    <div style="position: absolute;left: 13px;">{{monat}}</div>
                    <i style="position: absolute; right: 13px;" class="icon ion-chevron-down positive"></i>

                    <div class="syncery-option" ng-repeat="mount in mounth" ng-click="toggle('{{mount}}')">{{mount}}
                    </div>
                </div>
            </div>


            <div class="col col-50">
                <div class="syncery-input" id="mounth">
                    <div style="position: absolute;left: 13px;">{{monat}}</div>
                    <i style="position: absolute; right: 13px;" class="icon ion-chevron-down positive"></i>

                    <div class="syncery-option" ng-repeat="mount in mounth" ng-click="toggle('{{mount}}')">{{mount}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row responsive-sm">
            <ion-slide-box on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" show-pager="false"
                           does-continue="true">
                <ion-slide>
                    <div class="card" style="width: 280px; margin-left: auto; margin-right: auto">
                        <div class="item item-divider">
                            <h2 style="text-align: center; color: white">{{month[monthnumber]}}</h2>
                        </div>
                        <syncery-calendar month="monthnumber" year="year"></syncery-calendar>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="card" style="width: 280px; margin-left: auto; margin-right: auto">
                        <div class="item item-divider">
                            <h2 style="text-align: center; color: white">{{month[monthnumber+1]}}</h2>
                        </div>
                        <syncery-calendar month="monthnumber+1" year="year"></syncery-calendar>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="card" style="width: 280px; margin-left: auto; margin-right: auto">
                        <div class="item item-divider">
                            <h2 style="text-align: center; color: white">{{month[monthnumber-1]}}</h2>
                        </div>
                        <syncery-calendar month="monthnumber-1" year="year"></syncery-calendar>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>

        <div class="row responsive-sm">
            <div class="col col-33">
                <div class="syncery-input-search">
                    <input class="syncery-input" id="search" placeholder="Suche" ng-model="input_suche">
                    </input>
                    <div class="syncery-input-line"></div>
                    <div class="syncery-option" ng-repeat="search in searching" ng-click="toggle2('{{search}}')">
                        {{search}}
                    </div>
                </div>
            </div>
            <div class="col col-33">
                <button class="button button-medium button-positive waves-effect waves-button waves-light">
                    BUCHUNG VERWERFEN
                </button>
            </div>
            <div class="col col-33">
                <button class="button button-medium button-calm waves-effect waves-button waves-light">
                    BUCHUNG SICHERN
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
