<ion-view view-title="Kunden">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Kunde" ng-model="search" ng-change="searching(search)">
            </label>

        </div>

        <div class="card">
            <label class="item item-input dark">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Kunde" ng-model="search" ng-change="searching(search)">
            </label>
        </div>

        <div class="list card" id="customer-list">

            <div class="item item-divider" style="text-align: center; background-color: gray;line-height: 30px; color:white;">
                Kunden
            </div>

            <a ng-repeat="(id, customer) in customers" class="item">
                <div class="row">
                    <div class="col col-50"><b>Name:</b> {{customers[id]['name']}}</div>
                    <div class="col"><b>Buchungen / Tage:</b> {{customers[id]['bookings']}}</div>
                </div>
                <div class="row">
                    <div class="col col-50"></div>
                    <div class="col"><b>Gewinn:</b> {{customers[id]['profit']}}</div>
                </div>
                <div class="row">
                    <div class="col col-50"><b>letzte Buchung:</b> {{customers[id]['last_booking']}}</div>
                    <div class="col"><b>ausstehende Zahlungen:</b> {{customers[id]['outstanding_payments']}}</div>
                </div>
            </a>
        </div>


    </ion-content>
</ion-view>
