<ion-view view-title="Login">
    <ion-nav-bar class="bar syncery-header">

    </ion-nav-bar>
    <ion-content>
        <img src="img/syncery-logo.png" class="logo">

        <div class="card">
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>E-Mail</b></span>
                <input type="email" placeholder="E-Mail">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label"><b>Passwort</b></span>
                <input type="password" placeholder="Passwort">
            </label>
        </div>


        <button ng-click="dologin()"
                class="button button-last button-positive">Login
        </button>

        <button class="button button-decide1 button-outline button-assertive icon-left ion-social-google">
            Google+
        </button>
        <button class="button button-decide2 button-outline button-positive icon-left ion-social-facebook">
            Facebook
        </button>
    </ion-content>
</ion-view>