<table class="syncery-calendar">
        <thead>
            <tr>
                <th>
                    {{day[0]}}
                </th>
                <th>
                    {{day[1]}}
                </th>
                <th>
                    {{day[2]}}
                </th>
                <th>
                    {{day[3]}}
                </th>
                <th>
                    {{day[4]}}
                </th>
                <th>
                    {{day[5]}}
                </th>
                <th>
                    {{day[6]}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-click="select('1-1')" ng-class="calendarData['1-1']['class']" data-position="1-1">
                    {{calendarData['1-1']['daynumber']}}
                </td>
                <td ng-click="select('1-2')"  ng-class="calendarData['1-2']['class']" data-position="1-2">
                    {{calendarData['1-2']['daynumber']}}
                </td>
                <td ng-click="select('1-3')"  ng-class="calendarData['1-3']['class']" data-position="1-3">
                    {{calendarData['1-3']['daynumber']}}
                </td>
                <td ng-click="select('1-4')"  ng-class="calendarData['1-4']['class']" data-position="1-4">
                    {{calendarData['1-4']['daynumber']}}
                </td>
                <td ng-click="select('1-5')"  ng-class="calendarData['1-5']['class']" data-position="1-5">
                    {{calendarData['1-5']['daynumber']}}
                </td>
                <td ng-click="select('1-6')"  ng-class="calendarData['1-6']['class']" data-position="1-6">
                    {{calendarData['1-6']['daynumber']}}
                </td>
                <td ng-click="select('1-7')"  ng-class="calendarData['1-7']['class']" data-position="1-7">
                    {{calendarData['1-7']['daynumber']}}
                </td>
            </tr>
            <tr>
                <td ng-click="select('2-1')"  ng-class="calendarData['2-1']['class']" data-position="2-1">
                    {{calendarData['2-1']['daynumber']}}
                </td>
                <td ng-click="select('2-2')"  ng-class="calendarData['2-2']['class']" data-position="2-2">
                    {{calendarData['2-2']['daynumber']}}
                </td>
                <td ng-click="select('2-3')"  ng-class="calendarData['2-3']['class']" data-position="2-3">
                    {{calendarData['2-3']['daynumber']}}
                </td>
                <td ng-click="select('2-4')"  ng-class="calendarData['2-4']['class']" data-position="2-4">
                    {{calendarData['2-4']['daynumber']}}
                </td>
                <td ng-click="select('2-5')"  ng-class="calendarData['2-5']['class']" data-position="2-5">
                    {{calendarData['2-5']['daynumber']}}
                </td>
                <td ng-click="select('2-6')"  ng-class="calendarData['2-6']['class']" data-position="2-6">
                    {{calendarData['2-6']['daynumber']}}
                </td>
                <td ng-click="select('2-7')"  ng-class="calendarData['2-7']['class']" data-position="2-7">
                    {{calendarData['2-7']['daynumber']}}
                </td>
            </tr>
            <tr>
                <td ng-click="select('3-1')"  ng-class="calendarData['3-1']['class']" data-position="3-1">
                    {{calendarData['3-1']['daynumber']}}
                </td>
                <td ng-click="select('3-2')"  ng-class="calendarData['3-2']['class']" data-position="3-2">
                    {{calendarData['3-2']['daynumber']}}
                </td>
                <td ng-click="select('3-3')"  ng-class="calendarData['3-3']['class']" data-position="3-3">
                    {{calendarData['3-3']['daynumber']}}
                </td>
                <td ng-click="select('3-4')"  ng-class="calendarData['3-4']['class']" data-position="3-4">
                    {{calendarData['3-4']['daynumber']}}
                </td>
                <td ng-click="select('3-5')"  ng-class="calendarData['3-5']['class']" data-position="3-5">
                    {{calendarData['3-5']['daynumber']}}
                </td>
                <td ng-click="select('3-6')"  ng-class="calendarData['3-6']['class']" data-position="3-6">
                    {{calendarData['3-6']['daynumber']}}
                </td>
                <td ng-click="select('3-7')"  ng-class="calendarData['3-7']['class']" data-position="3-7">
                    {{calendarData['3-7']['daynumber']}}
                </td>
            </tr>
            <tr>
                <td ng-click="select('4-1')"  ng-class="calendarData['4-1']['class']" data-position="4-1">
                    {{calendarData['4-1']['daynumber']}}
                </td>
                <td ng-click="select('4-2')"  ng-class="calendarData['4-2']['class']" data-position="4-2">
                    {{calendarData['4-2']['daynumber']}}
                </td>
                <td ng-click="select('4-3')"  ng-class="calendarData['4-3']['class']" data-position="4-3">
                    {{calendarData['4-3']['daynumber']}}
                </td>
                <td ng-click="select('4-4')"  ng-class="calendarData['4-4']['class']" data-position="4-4">
                    {{calendarData['4-4']['daynumber']}}
                </td>
                <td ng-click="select('4-5')"  ng-class="calendarData['4-5']['class']" data-position="4-5">
                    {{calendarData['4-5']['daynumber']}}
                </td>
                <td ng-click="select('4-6')"  ng-class="calendarData['4-6']['class']" data-position="4-6">
                    {{calendarData['4-6']['daynumber']}}
                </td>
                <td ng-click="select('4-7')"  ng-class="calendarData['4-7']['class']" data-position="4-7">
                    {{calendarData['4-7']['daynumber']}}
                </td>
            </tr>
            <tr>
                <td ng-click="select('5-1')"  ng-class="calendarData['5-1']['class']" data-position="5-1">
                    {{calendarData['5-1']['daynumber']}}
                </td>
                <td ng-click="select('5-2')"  ng-class="calendarData['5-2']['class']" data-position="5-2">
                    {{calendarData['5-2']['daynumber']}}
                </td>
                <td ng-click="select('5-3')"  ng-class="calendarData['5-3']['class']" data-position="5-3">
                    {{calendarData['5-3']['daynumber']}}
                </td>
                <td ng-click="select('5-4')"  ng-class="calendarData['5-4']['class']" data-position="5-4">
                    {{calendarData['5-4']['daynumber']}}
                </td>
                <td ng-click="select('5-5')"  ng-class="calendarData['5-5']['class']" data-position="5-5">
                    {{calendarData['5-5']['daynumber']}}
                </td>
                <td ng-click="select('5-6')"  ng-class="calendarData['5-6']['class']" data-position="5-6">
                    {{calendarData['5-6']['daynumber']}}
                </td>
                <td ng-click="select('5-7')"  ng-class="calendarData['5-7']['class']" data-position="5-7">
                    {{calendarData['5-7']['daynumber']}}
                </td>
            </tr>
            <tr>
                <td ng-click="select('6-1')"  ng-class="calendarData['6-1']['class']" data-position="6-1">
                    {{calendarData['6-1']['daynumber']}}
                </td>
                <td ng-click="select('6-2')"  ng-class="calendarData['6-2']['class']" data-position="6-2">
                    {{calendarData['6-2']['daynumber']}}
                </td>
                <td ng-click="select('6-3')"  ng-class="calendarData['6-3']['class']" data-position="6-3">
                    {{calendarData['6-3']['daynumber']}}
                </td>
                <td ng-click="select('6-4')"  ng-class="calendarData['6-4']['class']" data-position="6-4">
                    {{calendarData['6-4']['daynumber']}}
                </td>
                <td ng-click="select('6-5')"  ng-class="calendarData['6-5']['class']" data-position="6-5">
                    {{calendarData['6-5']['daynumber']}}
                </td>
                <td ng-click="select('6-6')"  ng-class="calendarData['6-6']['class']" data-position="6-6">
                    {{calendarData['6-6']['daynumber']}}
                </td>
                <td ng-click="select('6-7')"  ng-class="calendarData['6-7']['class']" data-position="6-7">
                    {{calendarData['6-7']['daynumber']}}
                </td>
            </tr>
        </tbody>
    </table>
