<ion-view view-title="{{'add_mapping' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div class="item item-divider input-divider">{{"mapping_data" | translate}}</div>
            <label class="item item-input item-icon-right" ng-click="select('portals')">
                <span class="input-label">{{'portals' | translate}}</span>
                <p>{{selector.portals.selected}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">{{'sync_id' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}" ng-model="mapping.sync_id">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'password' | translate}}</span>
                <input type="password" placeholder="{{'required' | translate}}" ng-model="mapping.password">
            </label>
            <button class="button button-positive button-full">{{'save_mapping' | translate}}</button>
        </div>
    </ion-content>
</ion-view>