<ion-view view-title="{{'accommodation' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button ng-click="showActionsheet()" class="button button-icon button-clear ion-ios-more-outline">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="accomodation-detail" delegate-handle="accommodationDetails" >
        <ion-slide-box>
            <ion-slide ng-repeat="image in accommodation.images">
                <img ng-src="{{image.url}}">
            </ion-slide>
        </ion-slide-box>
        <ion-item class="item item-text-wrap">
            <h3>{{accommodation.name}}</h3>
            <p>{{accommodation.description}}</p>
        </ion-item>
        <ion-item class="item number">
            <div class="row">
                <div class="col"><i class="icon ion-ios-telephone-outline"></i>030 94 39 98 51</div>
                <div class="col"><i class="icon ion-iphone"></i>0151 63 42 68 41</div>
            </div>
        </ion-item>
        <ion-item class="item mail">
            <i class="icon ion-ios-email-outline"></i>
            ma.schmermer@googlemail.com
        </ion-item>
        <ion-item class="item">
        </ion-item>
        <ion-item class="item detail">
            <div class="row">
                <div class="col">
                    <i class="icon ion-calendar"></i>
                    <h3>Einnahmen</h3>
                    <p class="green">200,00 €</p>
                </div>
                <div class="col">
                    <i class="icon ion-cash"></i>
                    <h3>Buchungen</h3>
                    <p class="red">23,60 €</p>
                </div>
            </div>
        </ion-item>
        <ion-item class="item">
        </ion-item>
        <ion-item class="item detail">
            <h1>Buchungen</h1>
        </ion-item>
        <ion-item class="item booking">
            Haus Sonne<br>
            20.05.2016 - 30.05.2016 <span class="red">23,60 €</span>
        </ion-item>
        <ion-item class="item booking">
            Haus Sonne<br>
            20.05.2016 - 30.05.2016 <span class="red">23,60 €</span>
        </ion-item>
        <ion-item class="item booking">
            Haus Sonne<br>
            20.05.2016 - 30.05.2016 <span class="red">23,60 €</span>
        </ion-item>
        <ion-item class="item booking">
            Haus Sonne<br>
            20.05.2016 - 30.05.2016 <span class="red">23,60 €</span>
        </ion-item>
        <ion-item class="item booking">
            Haus Sonne<br>
            20.05.2016 - 30.05.2016 <span class="red">23,60 €</span>
        </ion-item>
        <ion-item class="item">
        </ion-item>
        <ion-item class="item detail">
            <h1>Lage</h1>
        </ion-item>
        <ion-item class="item location">
            <i class="icon ion-ios-location-outline">
            </i>
            <p>Weißmeerstr. 89, 10319 Ammeer<br>Deutschland</p>
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794">
        </ion-item>
        <ion-item class="item detail">
            <h1>Eigentümer</h1>
        </ion-item>
        <ion-item class="item item-text-wrap">
            <h3>Tim Schranutze</h3>
            <p>Weißmeerstr. 89, 10319 Ammeer</p>
        </ion-item>
        <ion-item class="item number">
            <div class="row">
                <div class="col"><i class="icon ion-ios-telephone-outline"></i>030 94 39 98 51</div>
                <div class="col"><i class="icon ion-iphone"></i><0151 63 42 68 41</div>
            </div>
        </ion-item>
        <ion-item class="item mail">
            <i class="icon ion-ios-email-outline"></i>
            ma.schmermer@googlemail.com
        </ion-item>
        <ion-item></ion-item>
        <ion-item class="item detail">
            <h1>Auslastung</h1>
        </ion-item>
        <ion-item>
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-legend="true" chart-series="series"
                    chart-click="onClick">
            </canvas>
        </ion-item>
        <ion-item class="item detail">
            <h1>Mapping</h1>
        </ion-item>
        <ion-item ng-repeat="mapping in mappings">
            <b>{{mapping.portal_name}}</b>
            <p>ID: {{mapping.sync_id}}</p>
            <ion-option-button class="button button-dark ion-ios7-heart button-options">
                {{"edit" | translate}}
            </ion-option-button>
            <ion-option-button class="button button-assertive ion-ios7-heart button-options">
                {{"delete" | translate}}
            </ion-option-button>
        </ion-item>
        <button class="button button-icon mark-cyan button-full icon-right" ng-click="addMapping(accommodation.id)">
            <i class="icon ion-plus"></i>
            {{'add_mapping' | translate}}
        </button>
        <!--<div class="list">
            <div class="item item-divider">
                {{accommodation.name}}
            </div>
            <ion-item ng-class="descriptionClass" ng-click="showMoreDescription()">
                {{accommodation.description}}
            </ion-item>
            <ion-slide-box>
                <ion-slide ng-repeat="image in accommodation.images">
                    <img ng-src="{{image.url}}">
                </ion-slide>
                <ion-slide>

                </ion-slide>
            </ion-slide-box>
            <div class="item item-divider item-icon-right" ng-click="showMore('contact')"
                 id="contact">
                {{"contact" | translate}}
                <i ng-class="icon['contact']"></i>
            </div>
            <ion-list ng-hide="hide['contact']">
                <ion-item class="item-icon-left" href="mailto:ma.schmermer@googlemail.com">
                    <i class="icon ion-ios-email-outline"></i>
                    <h2>E-Mail</h2>

                    ma.schmermer@googlemail.com
                </ion-item>
                <ion-item class="item-icon-left" href="tel:030 94399851">
                    <i class="icon ion-ios-telephone-outline"></i>
                    <h2>{{'telephone' | translate}}</h2>

                    030 94399851
                </ion-item>
                <ion-item class="item-icon-left" href="tel:0151 63 42 68 41">
                    <i class="icon ion-ios-telephone-outline"></i>
                    <h2>{{'mobile' | translate}}</h2>

                    0151 63 42 68 41
                </ion-item>
            </ion-list>
            <div id="accommodation_capacity" class="item item-divider item-icon-right"
                 ng-click="showMore('accommodation_capacity')">
                Auslastung
                <i ng-class="icon['accommodation_capacity']"></i>
            </div>
            <ion-item ng-hide="hide['accommodation_capacity']">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-legend="true" chart-series="series"
                        chart-click="onClick">
                </canvas>
            </ion-item>
            <div id="Mapping" class="item item-divider item-icon-right" ng-click="showMore('Mapping')">
                Mapping
                <i ng-class="icon['Mapping']"></i>
            </div>
            <ion-list can-swipe="true" ng-hide="hide['Mapping']">
                <ion-item ng-repeat="mapping in mappings">
                    <b>{{mapping.portal_name}}</b>
                    <p>ID: {{mapping.sync_id}}</p>
                    <ion-option-button class="button button-dark ion-ios7-heart button-options">
                        {{"edit" | translate}}
                    </ion-option-button>
                    <ion-option-button class="button button-assertive ion-ios7-heart button-options">
                        {{"delete" | translate}}
                    </ion-option-button>
                </ion-item>
                <button class="button button-icon mark-cyan button-full icon-right" ng-click="addMapping(accommodation.id)">
                    {{'add_mapping' | translate}}
                </button>
            </ion-list>
        </div>-->
    </ion-content>
</ion-view>