<ion-header-bar class="bar-dark bar-subheader">
    <h3 style="text-align: center; color:white; line-height: 28px; font-size: 16px;">{{accommodation.name}}</h3>
</ion-header-bar>
<ion-view view-title="{{'accommodation' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-click="edit(accommodation.id)"
                    class="button button-icon icon ion-edit">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content delegate-handle="accommodationDetails">
        <div class="list card">
            <div class="item item-divider">
                {{"description" | translate}}
            </div>
            <ion-item ng-class="descriptionClass" ng-click="showMoreDescription()">
                {{accommodation.description}}
            </ion-item>
        </div>

        <ion-slide-box>
            <ion-slide ng-repeat="image in accommodation.images">
                <img ng-src="{{image.url}}" style="width:300px;height:300px;margin:auto;display:block">
            </ion-slide>
        </ion-slide-box>

        <div class="list card">
            <div class="item item-divider item-icon-right" ng-click="showMore('MasterDataAcco')"
                 id="MasterDataAcco">
                {{"master_data" | translate}}
                <i ng-class="icon['MasterDataAcco']"></i>
            </div>
            <ion-item ng-hide="hide['MasterDataAcco']">
                <div class="row ">
                    <div class="col">
                        <p>Herr Dr. Prof.</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col col-50">
                        <p>Marcus</p>
                    </div>
                    <div class="col col-50">
                        <p>Schmermer</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col col-50">
                        <p>Erieseering 22</p>
                    </div>
                    <div class="col col-50">
                        <p>10319 Berlin</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <b>{{"contact" | translate}}</b></div>
                </div>
                <div class="row ">
                    <div class="col col-50">
                        <p>030 94399851</p>
                    </div>
                    <div class="col col-50">
                        <p>0151 63 42 68 41</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <p>ma.schmermer@gmail.com</p>
                    </div>
                </div>
            </ion-item>
        </div>

        <div class="card">
            <div id="Mapping" class="item item-divider item-icon-right" ng-click="showMore('Mapping')">
                Mapping
                <i ng-class="icon['Mapping']"></i>
            </div>
            <ion-list can-swipe="true" ng-hide="hide['Mapping']">
                    <button class="button button-positive button-last" ng-click="addMapping(accommodation.id)">{{'add_mapping' | translate}}</button>
                <ion-item ng-repeat="mapping in mappings">
                    <b>{{mapping.portal_name}}</b>
                    <p>ID: {{mapping.sync_id}}</p>
                    <ion-option-button class="button button-dark ion-ios7-heart button-options">
                        {{"edit" | translate}}
                    </ion-option-button>
                    <ion-option-button class="button button-assertive ion-ios7-heart button-options">
                        {{"delete" | translate}}
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>
        <div class="card">
            <div id="accommodation_capacity" class="item item-divider item-icon-right" ng-click="showMore('accommodation_capacity')">
                Auslastung
                <i ng-class="icon['accommodation_capacity']"></i>
            </div>
            <ion-item ng-hide="hide['accommodation_capacity']">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-legend="true" chart-series="series"
                        chart-click="onClick">
                </canvas>
            </ion-item>
        </div>
    </ion-content>
</ion-view>