<ion-view view-title="{{'accommodations' | translate}}">
  <ion-nav-bar class="bar syncery-header">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-tabs" delegate-handle="accommodations" on-scroll="getScrollPosition()">

    <ion-list id="accommodation_list" can-swipe="listCanSwipe">
      <ion-item class="item list-item item-remove-animate item-thumbnail-left item-icon-right"
                ng-repeat="accommodation in data.accommodations"
                href="#/app/accommodationDetails{{accommodation.id}}">
        <img ng-if="accommodation.thumbnail" ng-src="{{accommodation.thumbnail}}">
        <img ng-if="!accommodation.thumbnail" ng-src="img/nohouse.png">
        <h2>{{accommodation.name}}</h2>
        <p>{{"last_booking" | translate}}: 12.3.15</p>
        <p>{{"next_booking" | translate}}: 15.11.15</p>
        <ion-option-button class="button button-dark ion-ios7-compose-outline button-options"
                           ng-click="edit(accommodation.id)">
          {{"edit" | translate}}
        </ion-option-button>
        <ion-option-button class="button button-assertive ion-ios7-heart button-options"
                           ng-click="delete(accommodation.id)">
          {{"delete" | translate}}
        </ion-option-button>
        <i class="icon icon-small ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>
  <div class="bar bar-footer">
    <button ng-click="addAccommodation()"
            class="button button-icon icon ion-ios-plus-outline">
    </button>
  </div>
</ion-view>
