<ion-view  view-title="{{'add_accommodation' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> {{"back" | translate }}
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button ng-click="save()"
                    class="button button-icon icon ion-android-done">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div class="list">
            <div class="item item-divider divider-input">{{"enter_accommodation_data" | translate}}</div>
            <label class="item item-input">
                <span class="input-label">{{'name' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'description' | translate}}</span>
                <input type="text">
            </label>
            <label class="item item-input item-icon-right" ng-click="select('gender')">
                <span class="input-label">{{'gender' | translate}}</span>
                <p>{{selector.gender.selected}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">{{'title' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'first_name' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'name' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'address' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">PLZ</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'city' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'country' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <div class="item item-divider divider-input">{{"contact_data" | translate}}</div>
            <label class="item item-input">
                <span class="input-label">{{'telephone' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'mobile' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <label class="item item-input">
                <span class="input-label">E-Mail</span>
                <input type="text" placeholder="{{'required' | translate}}">
            </label>
            <!--<ion-item>
                <syncery-input title="'name' | translate" type="'text'" input="accommodation.name">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'description' | translate" type="'textarea'" input="accommodation.description">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-dropdown name="'gender'"
                                  attribute="'gender' | translate"
                                  attributes="['Herr', 'Frau']">
                </syncery-dropdown>
            </ion-item>
            <ion-item>
                <syncery-input title="'title' | translate" type="'text'">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'first_name' | translate" type="'text'">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'name' | translate" type="'text'">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'adress' | translate" type="'text'">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'PLZ'" type="'plz'">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'city' | translate" type="'text'">
                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'country' | translate" type="'text'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'telephone' | translate" type="'tel'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'mobile' | translate" type="'tel'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'E-Mail'" type="'mail'">

                </syncery-input>
            </ion-item>
        </div>
        <button class="button button-last button-positive" ng-click="ShowPictures()">
            {{"add_picture" | translate}}
        </button>
        <button class="button button-last button-positive">
            {{"save_accommodation" | translate}}
        </button>-->


    </ion-content>
</ion-view>