<ion-view view-title="{{'accommodations' | translate}}">
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-footer" overflow-scroll="false">
        <div class="list">
            <ion-item class="item item-text-wrap">
                <img class="accommodation_img" ng-show="data.ImageURI" ng-src="{{data.ImageURI}}" height="200"
                     width="200" ng-click="ShowPictures()">
                <button ng-hide="data.ImageURI" class="button icon add-img ion-image" ng-click="ShowPictures()">
                    <p>{{'set_image' | translate}}</p>
                </button>
            </ion-item>
            <label class="item item-input">
                <span class="input-label">{{'accommodation' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.acc_name">
            </label>
            <label class="item item-input item-icon-right" ng-click="select('gender')">
                <span class="input-label">{{'gender' | translate}}</span>
                <p>{{selector.gender.selected}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">{{'title' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.title">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'first_name' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.first_name">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'name' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.name">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'address' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.address">
            </label>
            <label class="item item-input">
                <span class="input-label">PLZ</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.plz">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'city' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.cityl">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'country' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.country">
            </label>
            <div class="item item-divider divider-input">{{"description" | translate}}</div>
            <label class="item item-input textarea">
                <textarea rows="6" cols="5" ng-model="formData.message"></textarea>
            </label>
            <div class="item item-divider divider-input">{{"contact_data" | translate}}</div>
            <label class="item item-input">
                <span class="input-label">{{'telephone' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}"  ng-model="acc.tel">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'mobile' | translate}}</span>
                <input type="text" placeholder="{{'required' | translate}}" ng-model="acc.mobile">
            </label>
            <label class="item item-input">
                <span class="input-label">E-Mail</span>
                <input type="text" placeholder="{{'required' | translate}}" ng-model="acc.mail">
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer save-button">
        <button class="button button-full mark-cyan" ng-if="show_save" ng-click="save()">{{'save' | translate}}</button>
        <button class="button button-full grey"ng-if="!show_save" >{{'save' | translate}}</button>
    </div>
</ion-view>