<ion-view view-title="{{'add_booking' | translate}}">
    <ion-content delegate-handle="addBookings">
        <div class="list card">
            <div class="item item-divider" style="background-color: white; color: grey; text-transform: uppercase;">{{"travel_data" | translate}}</div>
            <ion-item>
                <syncery-dropdown name="'accommodation'"
                                  attribute="accommodations[0]"
                                  attributes="accommodations">
                </syncery-dropdown>
            </ion-item>
            <ion-item style="padding: 0;">
                <syncery-datepicker name="'arrival_date' | translate" data-method="selectDate">

                </syncery-datepicker>
            </ion-item>
            <ion-item style="padding: 0;">
                <syncery-datepicker name="'departure_date' | translate" data-method="selectDate">

                </syncery-datepicker>
            </ion-item>
            <ion-item>
                <syncery-dropdown name="'adult'"
                                  attribute="'Anzahl der Erwachsenen'"
                                  attributes="['1 Erwachsener', '2 Erwachsene', '3 Erwachsene']">
                </syncery-dropdown>
            </ion-item>
            <ion-item>
                <syncery-dropdown name="'children'"
                                  attribute="'Anzahl der Kinder'"
                                  attributes="['1 Kind', '2 Kinder', '3 Kinder']">
                </syncery-dropdown>
            </ion-item>
            <ion-item>
                <syncery-dropdown name="'animals'"
                                  attribute="'Haustiere'"
                                  attributes="['Hund', 'Katze', 'Nagetier']">
                </syncery-dropdown>
            </ion-item>
        </div>

        <div class="list card">
            <div class="item item-divider">{{"master_data" | translate}}</div>
            <ion-item>
                <syncery-dropdown name="'gender'"
                                  attribute="'Anrede'"
                                  attributes="['Herr', 'Frau']">
                </syncery-dropdown>
            </ion-item>
            <ion-item>
                <syncery-input title="'Titel'" type="'text'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'first_name' | translate" type="'text'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'name' | translate" type="'text'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'address' | translate" type="'text'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'PLZ'" type="'plz'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'city' | translate" type="'text'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'country' | translate" type="'text'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'telephone' | translate" type="'tel'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'mobile' | translate" type="'tel'">

                </syncery-input>
            </ion-item>
            <ion-item>
                <syncery-input title="'E-Mail'" type="'mail'">

                </syncery-input>
            </ion-item>
        </div>

        <div class="list card">
            <div class="item item-divider">{{"payment_data" | translate}}</div>

            <ion-item>
                <syncery-input title="'deposit' | translate" type="'money'">

                </syncery-input>
                <syncery-datepicker name="'target_date' | translate" data-method="selectDate">

                </syncery-datepicker>
                <syncery-datepicker name="'payment_date' | translate" data-method="selectDate">
                </syncery-datepicker>
            </ion-item>
            <ion-item>
                <syncery-input title="'final_payment' | translate" type="'money'">

                </syncery-input>
                <syncery-datepicker name="'target_date' | translate" data-method="selectDate">

                </syncery-datepicker>
                <syncery-datepicker name="'payment_date' | translate" data-method="selectDate">
                </syncery-datepicker>
            </ion-item>
        </div>

        <div class="list card">
            <div class="item item-divider">Extras</div>
            <ion-item>
                <syncery-checkbox selected="true" name="'Bettwäche'" data-method="input">
                </syncery-checkbox>
            </ion-item>
            <ion-item>
                <syncery-checkbox selected="false" name="'Handtücher'" data-method="input">
                </syncery-checkbox>
            </ion-item>
            <ion-item>
                <syncery-checkbox selected="false" name="'Endreinigung'" data-method="input">
                </syncery-checkbox>
            </ion-item>
            <ion-item>
                <syncery-input title="'notes'" type="'textarea'">
                </syncery-input>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
