<ion-view view-title="{{'bookings' | translate}}"
>
    <ion-nav-bar class="bar syncery-header">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button ng-click="showActionsheet()" class="button button-icon button-clear ion-ios-more-outline">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="booking-details">
        <ion-item class="item item-avatar customer-list">
            <img width="100%" class="customer-avatar" ng-if="customer.avatar" ng-src="img/{{customer.avatar}}">
            <img width="100%" class="customer-avatar" ng-if="!customer.avatar" ng-src="img/avatar.jpg">
            <h2>Andreas Gallien</h2>
            <p>Erieseering 22</p>
            <p>10319 Berlin</p>
            <p>Deutschland</p>
        </ion-item>
        <ion-item class="item detail">
             <h2>Haus Sonne</h2>
            <p>01.07.2016 - 16.07.2016 (14 Tage)</p>
        </ion-item>
        <ion-item class="item person">
            <div class="row">
                <div class="col"><i class="icon ion-person"></i>2</div>
                <div class="col"><i class="icon ion-person-stalker"></i>1</div>
                <div class="col"><i class="icon ion-ios-paw"></i>0</div>
            </div>
        </ion-item>
        <ion-item class="item status">
            <div class="row">
                <div class="col">
                    <i class="icon ion-loop"></i>
                    <h3>CHANNEL</h3>
                    <p>Fewo Direkt</p>
                </div>
                <div class="col">
                    <i class="icon ion-calendar"></i>
                    <h3>STATUS</h3>
                    <p><span class="red">reserviert</span></p>
                </div>
            </div>
        </ion-item>
        <ion-item class="item money">
                <h3>1.265,65 €</h3>
        </ion-item>
        <ion-item class="item money">
            <div class="row">
                <div class="col">
                    <p><span class="green">100 € </span>/ 25.05</p>
                </div>
                <div class="col">
                    <p><span class="red">1.165,65 € </span>/ 28.06</p>
                </div>
            </div>
        </ion-item>
        <ion-item class="item extra">
            <div class="row">
                <div class="col"><i class="icon ion-checkmark"></i>Bettwäsche</div>
                <div class="col"><i class="icon ion-close"></i>Handtücher</div>
                <div class="col"><i class="icon ion-checkmark"></i>Endreinigung</div>
            </div>
        </ion-item>
        <ion-item class="item notes">
            NOTIZEN
        </ion-item>
    </ion-content>
</ion-view>