<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Syncery Landingpage</title>
    <link rel='stylesheet prefetch' href='https://gitcdn.xyz/repo/angular/bower-material/v0.11.0/angular-material.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="css/syncery_landingpage.css">
</head>

<body>
<div style=" background-color: rgb(241,241,241);" ng-controller="LandingpageCtrl as landingpageCtrl" ng-app="MyApp">
    <md-toolbar style="background-color: white; color: black;">
        <div class="md-toolbar-tools" style="width: 1280px; margin-left: auto; margin-right: auto;">
            <div style="text-align: left; padding-left: 15px">Syncery</div>

            <md-menu>
                <!-- Trigger element is a md-button with an icon -->
                <md-button style="color: black" ng-click="$mdOpenMenu($event)">
                    {{language}}
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-model="language" ng-click="changeLanguage('DE')">DE</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-model="language" ng-click="changeLanguage('EN')">EN</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <div class="header_line"></div>
    <div class="landingpage_content">

        <div class="content_picture">
            <br>

            <h1>Wir verwalten<br>Ihre Buchungen!</h1>
            <img id="landingpage" src="img/01_Landingpage.png">
        </div>
        <div class="content_mail">
            <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis
                conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale
                omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam
                praesent reformidans no. Sed laudem aliquam ne.</p>
            <br>

            <h3>Neuigkeiten bequem per Email</h3>

            <form>
                <md-input-container>
                    <input id="input_mail" ng-model="email" type="email" ng-required="true">
                </md-input-container>
                <md-button id="send_button" ng-click="hello();" class="md-raised md-primary">Absenden</md-button>
            </form>
            <p class="annotation">*cxyxdbziudiuvashhdfuasivdsaihfbjck adgf iudsf ewuhfuisdfhuids fzdhsuifdsuifs</p>
        </div>
        <div class="content_details">
            <table style="text-align: center;">
                <tr>
                    <td><img src="img/lp_icon_api.png"></td>
                    <td><img src="img/lp_icon_buchungen.png"></td>
                    <td><img src="img/lp_icon_synchronisieren.png"></td>
                </tr>
                <tr>
                    <td><h2>Verwaltung von Buchungen</h2></td>
                    <td><h2>Synchronisation mit Portalen</h2></td>
                    <td><h2>Full API Access</h2></td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis
                        conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur
                    </td>
                    <td>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis
                        conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur
                    </td>
                    <td>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis
                        conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur
                    </td>
                </tr>
            </table>
        </div>
        <div class="landingpage_footer">
            &copy; 2015 Syncery
            <a href="#">Impressum</a>
            <a href="#">Rechtliches</a>
            <a href="#">AGB</a>
            <a href="#">FAQ</a>

            <div class="icons">
                <img src="img/mail.png">
                <img src="img/facebook.png">
                <img src="img/twitter.png">
                <img src="img/google-plus.png">
            </div>
        </div>
    </div>
</div>


<!-- <div ng-controller="AppCtrl as appCtrl" class="gridListdemoBasicUsage" ng-app="MyApp">
   <md-toolbar style="background-color: white; color: black">
     <div class="md-toolbar-tools">
       <h1 class="md-flex">Syncery</h1>

       <md-menu style="color: black" md-offset="0 -7">
         <md-button aria-label="Sprache" class="md-icon-button" ng-click="$mdOpenMenu($event)">
         </md-button>
         <md-menu-content width="2">
           <md-menu-item>
             <md-button ng-click="ctrl.announceClick($index)"> DE </md-button>
             <md-button ng-click="ctrl.announceClick($index)"> EN </md-button>
           </md-menu-item>
         </md-menu-content>
       </md-menu>>

     </div>
   </md-toolbar>
   <div style="background-color: red; height: 3px; width: 100%;"></div>

<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="1:2"  md-gutter-gt-sm="0px">

 <md-grid-tile style="background-color: rgb(241,241,241);" md-rowspan="3" md-colspan="3" md-colspan-sm="2">
   <md-grid-tile-header>
     <h2>Wir verwalten ihre Buchungen!</h2>
   </md-grid-tile-header>
   <img src="img/01_Landingpage.png" style="height: auto; width: 100%; position: absolute; bottom: 0px; left: 0px">
 </md-grid-tile>

 <md-grid-tile style="background-color: rgb(56,68,94);" md-rowspan="3" md-colspan="3" md-colspan-sm="1">
   <md-content layout-padding style="background-color: rgb(56,68,94); color: white; padding: 24px; height: 90%; margin: 5px;">
     <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
     <br>
     <h3>Neuigkeiten bequem per Email</h3>
     <md-input-container >
       <input style="background-color: white; height: 30px;" ng-model="user.email" type="email" ng-required="true">
     </md-input-container>

     <div layout="row" layout-align="start center" flex>
       <md-button>button 1 </md-button>
       <span flex></span>
     </div>

     <div layout="row" layout-align="right">
       <md-button style="right: 0%;" class="md-raised md-primary">Absenden</md-button>
     </div>

   <div style="font-size: small;">* fgsdjf sduhf ugiuds gtiugruwsediugfdusufidhgpihdfhigidhguudfghdfidf dfh  ug fu</div>
   </md-content>
 </md-grid-tile>

 <md-grid-tile class="white" md-rowspan="2" md-colspan="6" md-colspan-sm="1">
   <table style="text-align: center;">
     <tr>
       <td><img src="img/lp_icon_api.png"></td>
       <td><img src="img/lp_icon_buchungen.png"></td>
       <td><img src="img/lp_icon_synchronisieren.png"></td>
     </tr>
     <tr>
       <td><h2>Verwaltung von Buchungen</h2></td>
       <td><h2>Synchronisation mit Portalen</h2></td>
       <td><h2>Full API Access</h2></td>
     </tr>
     <tr>
       <td>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur</td>
       <td>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur</td>
       <td>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur</td>
     </tr>
   </table>
 </md-grid-tile>

</md-grid-list>
   2015 Syncery Impressum Rechtliches AGB FAQ
</div>-->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-messages.min.js'></script>
<script src='https://gitcdn.xyz/repo/angular/bower-material/v0.11.0/angular-material.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

<script src="controller/syncery_landingpage.js"></script>
</body>
</html>
